In [1]:
import pandas as pd
a = pd.Series([1, 7, 2])
print(a)

0    1
1    7
2    2
dtype: int64

In [2]:
import pandas as pd
a = pd.Series([1, 7, 2])
print(a)

0    1
1    7
2    2
dtype: int64

In [3]:
import pandas as pd
df = pd.DataFrame({'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18],
        'Marks':[90,91,92,93]})
x = df[['Name','Age']]
print(x)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [4]:
y = df[:2]
print(y)

   Name  Age  Marks
0   Tom   20     90
1  nick   21     91

In [5]:
a = df.loc[:,['Name','Age']]
print(a)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [6]:
print(df.loc[:2])

    Name  Age  Marks
0    Tom   20     90
1   nick   21     91
2  krish   19     92

In [7]:
z = df.rename(columns = {'Name':'First Name'})
print(z)

  First Name  Age  Marks
0        Tom   20     90
1       nick   21     91
2      krish   19     92
3       jack   18     93

In [8]:
x = df.drop('Age',axis='columns')
print(x)

    Name  Marks
0    Tom     90
1   nick     91
2  krish     92
3   jack     93

In [9]:
z = df.rename(index = {'Name':'First Name'})
print(z)

    Name  Age  Marks
0    Tom   20     90
1   nick   21     91
2  krish   19     92
3   jack   18     93

In [10]:
x = df.sort_index()
print(x)

    Name  Age  Marks
0    Tom   20     90
1   nick   21     91
2  krish   19     92
3   jack   18     93

In [ ]:
import pandas as pd
filename = '/content/drive/MyDrive/sample.csv'
df = pd.read_csv(filename)
df.head()

  First name Last Name     Mobile   Country
0        Tom   Holland  123456789       USA
1    Michael     Stark    3452184    Canada
2     Howard     Hogan  142783452    Mexico
3    Sheldon    Cooper   23451672  Trinidad
4        Sam  Billings  345217926   England

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4))
                  , columns=list('ABCD'))
df.to_csv('out.csv',index=False)
df.head()

    A   B   C   D
0  73  10  70  61
1  27  75  72  14
2  87   0  47  73
3  89  12  28   6
4  47  38  80  52

In [ ]:
import pandas as pd
filename = '/content/drive/MyDrive/sample.csv'
df = pd.read_csv(filename,usecols = [0,3])
temp = df.rename(columns = {'First name':'Name',
                            'Country':'Location'},
                 inplace = False)
temp.to_csv('output.csv')
temp.head()

      Name  Location
0      Tom       USA
1  Michael    Canada
2   Howard    Mexico
3  Sheldon  Trinidad
4      Sam   England

In [11]:
import pandas as pd
import numpy as np
matrix = [(1,2,3,4),
          (5,6,7,8,),
          (9,10,11,12),
          (13,14,15,16)]
df = pd.DataFrame(matrix, columns = list('abcd'))
new_df = df.apply(lambda x : x + 10)
print(new_df)

    a   b   c   d
0  11  12  13  14
1  15  16  17  18
2  19  20  21  22
3  23  24  25  26